{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
</head>
<body>

<!-- Navbar -->
<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">WATCHCART</a>
        <div class="nav-links">
            <a href="{% url 'firstpage' %}"><button>Home</button></a>
            <a href="{% url 'add_product' %}"><button>Add Product</button></a>
            <a href="{% url 'category' %}"><button>Category</button></a>
            <a href="{% url 'bookings' %}"><button>View Bookings</button></a>
            <a href="{% url 'logout' %}"><button>Logout</button></a>
        </div>
    </div>
</nav>

<h1 class="title">Bookings</h1>

</body>
</html>
