{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="{% static 'css/order_confirmation.css' %}">
</head>
<body>
    <div>
    <h1>Thank you for your order!</h1>
    <p>Order ID: {{ order.id }}</p>
    <p>Total Price: ₹{{ order.total_price }}</p>
    <p>Payment Method: {{ order.get_payment_method_display }}</p>
    <p>Shipping To: {{ order.shipping_address }}</p>
    <a href="{% url 'index' %}">Back to Home</a>
</div>
     <!-- Footer -->
  <footer class="footer">
    <div class="foot1">
      <ul>
        <li>© All rights reserved by WatchCart, Kottayam, India.</li>
      </ul>
    </div>
    <div class="foot2">
      <ul>
        <li><b>SOLUTIONS</b></li>
        <li>My Account</li>
        <li>Track Your Order</li>
        <li>Order History</li>
        <li>Payment Methods</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="foot3">
      <ul>
        <li><b>ABOUT US</b></li>
        <li>About Us</li>
        <li>Terms & Conditions</li>
        <li>Privacy Policy</li>
        <li>Return Policy</li>
        <li>Site Map</li>
      </ul>
    </div>
    <div class="foot4">
      <ul>
        <li><b>CONTACT US</b></li>
        <li>Ettumanoor, Kottayam, Kerala</li>
        <li>+91-86065 70657</li>
        <li>Mon - Sat / 9:00AM - 6:00PM</li>
      </ul>
    </div>
  </footer>
</body>
</html>
